<footer class="footer">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>About TechHub</h5>
                <p class="small">Premium tech accessories for professionals and enthusiasts.</p>
            </div>
            <div class="col-4 col-md-3 mb-4 offset-md-1">
                <h5>Shop</h5>
                <ul class="list-unstyled small">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Deals</a></li>
                </ul>
            </div>
            <div class="col-4 col-md-3 mb-4">
                <h5>Support</h5>
                <ul class="list-unstyled small">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                </ul>
            </div>
            <div class="col-4 col-md-2 mb-4">
                <h5>Follow</h5>
                <div class="d-flex gap-3">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr class="border-secondary-subtle" />
        <div class="d-flex justify-content-between">
            <p class="text-center small mb-0">
                &copy; 2026 TechHub. All rights reserved.
            </p>
            <p>
                <a asp-area="" asp-page="/Privacy">Privacy</a>
            </p>
        </div>
    </div>
</footer>
